<div
  style="
    font-size: 16px;
    border: 1px solid;
    padding: 10px;
    border-radius: 19px;
    background-color: lightgoldenrodyellow;
  "
>
  <h3>Hello {{user.first_name}} {{user.last_name}}</h3>
  <p>
    Hope you are doing well. You requested for an online appointment with
    {{doctor.user.first_name}} {{doctor.user.last_name}}.
  </p>
  <p>
    Join the below link as soon as possible as your doctor is waiting for you.
  </p>
  <p>
    Meet Link :
    <a href="{{doctor.meet_link}}" target="_blank">{{doctor.meet_link}}</a>
  </p>
  <p>Thanks</p>
  <p>SmartCare</p>
</div>
